[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
"netcdf4" = "*"
xarray = "*"
lpjguesstools = {editable = true, git = "https://gitlab.com/cw_code/lpjguesstools.git"}

[dev-packages]

[requires]
python_version = "3.7"
